@model ClothesStore.Models.Product

@{
    Layout = "~/Views/Shared/_newLyout.cshtml";
    ViewBag.Title = "Create Prodcut";
}

<h1 class="mt-5 mb-5 text-center font-weight-bold text-muted">Create New Prodcut</h1>
<hr class="mb-5" />

@using (Html.BeginForm("Create", "Admin", FormMethod.Post, new { @class = "w-75 mx-auto", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(model => model.Prod_Name)
        @Html.EditorFor(model => model.Prod_Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Prod_Name, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CategoryId)
        @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.sizeId)
        @Html.DropDownList("sizeId", null, htmlAttributes: new { @class = "form-control text-uppercase" })
        @Html.ValidationMessageFor(model => model.sizeId, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Prod_Price)
        @Html.EditorFor(model => model.Prod_Price, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Prod_Price, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Prod_Quantity)
        @Html.EditorFor(model => model.Prod_Quantity, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Prod_Quantity, "", new { @class = "text-danger" })
    </div>
    <div class="custom-file">
        <input type="file" name="upload" value="" class="custom-file-input" />
        @Html.LabelFor(model => model.Prod_Image, new { @class = "custom-file-label mt-3" })
        @Html.ValidationMessageFor(model => model.Prod_Image, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-outline-success w-25 d-block mt-5" />
    </div>
}